<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="BankingRulesConnectionString" connectionString="Data Source=WEBSMITHLLP2\SQLEXPRESS;Initial Catalog=BankingRules;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="BankingRulesEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WEBSMITHLLP2\SQLEXPRESS;Initial Catalog=BankingRules;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBGrubbrrV2ConnectionString" connectionString="Data Source=149.202.94.68;Initial Catalog=DBGrubbrrV2;Persist Security Info=True;User ID=dbgrubbrr123;Password=dbgrubbrr123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGrubrrV2" allowCookies="true"
          maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13602/GrubrrV2.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGrubrrV2" contract="wcf.IGrubrrV2"
        name="BasicHttpBinding_IGrubrrV2" />
    </client>
  </system.serviceModel>
</configuration>